ul {
  list-style-type: none;
}

.leftnav {
  transform: scaleX(1.8);
  transform-origin: left center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-container {
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .section-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .left-nav {
    display: none;
  }
}
